
/* Navbar styles */
.navbar {
  margin-bottom: 0px;
}

/*  Homepage styles  */
#header-banner {
  background-color: #003e54;
  padding: 40px;
}

#header-banner h1, #header-banner h2, #header-banner h3 {
  text-align: center;
  color: white;
}

#project-title h3, #project-text h3 {
  color: #003e54;
  text-align: center;
}

#header-banner button, #project-text button {
  margin: auto;
  display: block;
}

#project-text {
  margin-top: 30px;
  margin-bottom: 50px;
}

