
/* User profile page styling */
#user-page-left-col {
  float: left;
  width: 20%;
  margin-right: 10%;
}

#user-page-profile-pic img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#user-page-real-name {
  font-size: 26px;
  text-overflow: ellipsis;
  font-weight: bold;
}

#user-details {
  margin-left:15px;
}

#user-page-github {
  margin-top:5px;
}

#user-page-github-logo img {
  width: 20px;
}

#user-page-github-logo {
  float: left;
  margin-right: 10px;
}

#user-page-github-link {
  float: left;
  margin-top:1px;
}

#user-page-linkedin {
  margin-top: 5px;
}

#user-page-linkedin-logo img {
  width: 20px;
  margin-left: 2px;
}

#user-page-linkedin-logo {
  float: left;
  margin-right: 10px;
}

#user-page-linkedin-link {
  margin-top: 1px;
  float:left;
}

#user-page-right-col {
  float: right;
  width: 70%;
}


/* User profile page styling */
#user-page-left-col {
  float: left;
  width: 20%;
  margin-right: 10%;
}

#user-page-profile-pic img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#user-page-real-name {
  font-size: 26px;
  text-overflow: ellipsis;
  font-weight: bold;
}

#user-page-right-col {
  float: right;
  width: 70%;
}

/* clearfix class for floats within divs */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
