<div class="container" style="margin-top: 100px;">
  <div id="user-page-left-col" class="well">
    <div id="user-page-profile-pic" width="100%">
      <img src="{{profileImage}}" />
    </div>
    <span id="user-page-edit-profile" ng-show="edible" data-toggle="modal" data-target="#profile-edit-modal" style="float:right">
       <i class="fa fa-pencil-square-o" style="font-size: 20px; position: relative; top: 10px;"></i>
    </span>
    <div id="user-page-real-name">{{orgName}}</div>

    <div ng-show="stringFound(overview)">
      <div ng-model="overview"> {{orgDesc}} </div>
    </div>

    <div id="user-details">
      <div id="user-page-detail" class="clearfix" ng-show="stringFound(orgLink)">
        <div id="user-page-logo">
           <span class="fa fa-link">
        </div>
        <div id="user-page-org-text" >
          <a href="{{orgLink}}">{{orgLink}}</a>
        </div>
      </div>
      <div id="user-page-detail" class="clearfix" ng-show="stringFound(realName)">
        <div id="user-page-logo">
          <i class="fa fa-user"></i>
        </div>
        <div id="user-page-org-text">
          {{realName}} ({{orgRepTitle}})
        </div>
      </div>
      <div id="user-page-location" class="clearfix" ng-show="stringFound(location)" style="float: left">
        <div id="user-page-location-logo">
          <i class="fa fa-map-marker"></i>
        </div>
        <div id="user-page-org-text">
          {{location}}
        </div>
      </div>
      <div id="user-page-contact">
        <button type="button" class="btn btn-success btn-rounded btn-outline" data-toggle="modal" data-target="#contactModal">
          Contact
        </button>
      </div>
    </div>
  </div>

  <div class="cardContainerContainer" style="text-align: center; display: block; margin-left: 360px">
    <!-- Neat Non-Flippin Card starts:: SORTED BY RECENT -->
      <div ng-repeat="idea in ideasThatIsubmitted" class="portfolio-1">
        <div class="col-sm-4 portfolio-col" style="margin-bottom: 20px; width: 380px">
          <div class="proj-header" style="background-color: white; width: 100%; border-radius: 6px 6px 0 0; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22); display: inline-block;">
            <h4>{{idea.ideaName | uppercase}}<h4>
          </div>
          <a href="#/organization/{{idea.usersCleanURL}}/" ng-click="passit(idea.ideaName, idea.description, idea.backgroundPath, idea.date, idea.userID, idea.ideaID)" class="portfolio-item" data-toggle="modal">
            <div class="portfolio-link" >
              <div class="caption">
                <div class="caption-content">
                  <p> {{idea.description}}</p>
                </div>
              </div>
             <!--  <div style="position:relative; top:50%; transform: translateY(-50%)"> -->
              <img src="{{idea.backgroundPath}}" class="img-centered" alt="" style="position:relative; top:50%; transform: translateY(-50%)">
              <!-- </div> -->
            </div>
          </a>
          <div style="background-color: white; width: 100%; border-radius: 0 0 6px 6px; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22); padding-right: 15px; display: inline-block;">
            <h5 class="pull-right"> <i class="fa fa-thumbs-o-up" style="color: gray" ng-click="like(idea.userID, idea.ideaID); idea.liked = true;"></i> {{idea.count || 0}} </h5>
          </div>
        </div>
      </div>

      <!-- Ideas View/ Edit Modal -->
      <div id="idea-info" class="idea-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content" id="idea-modal-content">
            <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal">&times;</button>
              <div class="container">
                  <div class="row first">
                      <div class="col-lg-12">
                          <h2 class="page-header" ng-show="proposalEdible"><input ng-model="specificIdeaName"></input>Ideas</h2>
                          <h2 class="page-header" ng-hide="proposalEdible">{{specificIdeaName}}</h2>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-8">
                          <div id="idea-details-carousel" class="owl-carousel owl-theme">
                          <!-- TODO -->
                             <!--  <div class="item">
                                  <img src="{{idea.ideaImage}}" alt="">
                              </div> -->
                          </div>
                      </div>
                      <div class="col-md-4">
                          <h3 > Idea Description:</h3>
                          <p ng-show="proposalEdible"><textarea rows="4" cols="38" name="comment" type="text" placeholder="Tell us about your idea. What problem do you want to solve?" ng-model="specificDescription" ></textarea></p>
                          <p ng-hide="proposalEdible">{{specificDescription}}</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-8">
                        <h3 ng-show="proposalEdible"> Edit Idea Details:</h3>
                        <h3 ng-hide="proposalEdible">Idea Details:</h3>
                          <ul ng-show="proposalEdible"class="list-unstyled project-details">
                              <li>
                                  <strong>Organization: </strong>
                                    <!-- <input ng-show"proposalEdible"rows="1" cols="50" name="comment" type="text" placeholder="github.com/username" ng-model="project.githubRepo">
                                    </input> -->
                              </li>
                              <!-- <li ng-show"proposalEdible">
                                  <strong>Project URL: </strong>
                                    <input rows="1" cols="50" name="comment" ng-model="project.projUrl" type="text" placeholder="www.yourProjectHere.com">
                                    </input>
                              </li>
                              <li>
                                  <strong>Team Members: </strong>
                                  <input ng-show="proposalEdible" rows="1" cols="50" name="comment" type="text" placeholder="John Doe" ng-model="project.githubRepo">
                                  </input>
                              </li> -->

                          </ul>
                          <ul ng-hide="proposalEdible" class="list-unstyled project-details">
                              <li ng-hide="proposalEdible">
                                  <strong>Organization: </strong><!-- {{FILLER ORGANIZATION}} -->
                              </li>
                              <!-- <li ng-hide="proposalEdible">
                                  <strong>Project Url: </strong>{{project.projUrl}}
                              </li>
                              <li ng-hide="proposalEdible">
                                  <strong >Team Members: </strong>{{project.githubRepo}}
                              </li> -->
                          </ul>
                      </div>
                      <button ng-click="editModal()" ng-show="editIdea(specificUserID) && checked">Edit</button>
                      <button ng-show="proposalEdible && editIdea(specificUserID)" ng-click="saveModal(specificIdeaID, specificIdeaName, specificDescription, specificBackgroundPath)">Save</button>
                  </div>
              </div>
          </div>
      </div>
    </div>

<!-- Profile edit Modal -->
<div ng-controller="OrgProfileEditCtrl" id="profile-edit-modal" class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row first">
      <h2 class="page-header">Edit Profile</h2>
    </div>
      <div class="row">
        <form ng-submit="updateUserProfile(realName, orgName, orgDesc, orgLink, location, cleanUrl)">
          <ul class="list-unstyled project-details">
            <li>
              <div class="user-profile-label">Your Name:</div>
              <input ng-model="realName" class="user-profile-update-input" placeholder="Your name here" value="{{realName}}" />
            </li>
            <li>
              <div class="user-profile-label">Org Name:</div>
              <input ng-model="orgName" class="user-profile-update-input" placeholder="Organization name here" value="{{orgName}}" />
            </li>
            <li>
              <div class="user-profile-label">Org Description:</div>
              <input ng-model="orgDesc" class="user-profile-update-input" placeholder="Organization description" value="{{orgDesc}}" />
            </li>
            <li>
              <div class="user-profile-label">Organization Website:</div>
              <input ng-model="orgLink" class="user-profile-update-input" placeholder="Enter your organization's website" value="{{orgLink}}" />
            </li>
            <li>
              <div class="user-profile-label">Org Location:</div>
              <input ng-model="location" class="user-profile-update-input" placeholder="Enter your current location here" value="{{location}}" />
            </li>
            <li>
              <div class="user-profile-label">Profile Url:</div>
              <input ng-model="cleanUrl" class="user-profile-update-input" value="{{cleanUrl}}" />
              http://productsquare.com/orgization/{{cleanUrl}}/
            </li>
            <li class="clearfix">
              <div class="user-profile-label">Organization Image:</div>
              <img id="preview" src="{{tempProfileImage}}" style="float:left; margin-right:20px" width="150px"/>
              <input type="file" id="file" name='file' onchange="angular.element(this).scope().updateUserProfileImage(this)" style="float:left;" />
            </li>
          </ul>
          <div class="error" ng-show="errorFound">{{error}}</div>
          <input type="submit" value="SAVE PROFILE" class="btn btn-danger btn-rounded btn-outline pull-right"/>
        </form>
      </div>
    </div>
  </div>
</div>

<user-contact-modal obj="userContactObj"> </user-contact-modal>
