<div ng-controller="UserMainCtrl" class="container" style="margin-top: 30px;">
  <div id="user-page-left-col" class="well">
    <div id="user-page-profile-pic" width="100%">
      <img src="{{profileImage}}" />
    </div>
    <span id="user-page-edit-profile" ng-show="edible" data-toggle="modal" data-target="#profile-edit-modal" style="float:right">
           <i class="fa fa-pencil-square-o"></i>
          </span>
    <div id="user-page-real-name">{{realName}}</div>  

    <div ng-show="stringFound(overview)">
      <div ng-model="overview"> {{overview}} </div>
    </div>

    <div id="user-details">
      <div id="user-page-github" class="clearfix" ng-show="stringFound(githubLink)">
        <div id="user-page-github-logo">
          <img src="/img/Github-Mark-64px.png" />
        </div>
        <div id="user-page-github-link" >
          <a href="{{githubLink}}">{{githubText}}</a>
        </div>
      </div>
      <div id="user-page-linkedin" class="clearfix" ng-show="stringFound(linkedinLink)">
        <div id="user-page-linkedin-logo">
          <img src="/img/In-2C-81px-R.png" />
        </div>
        <div id="user-page-linkedin-link">
          <a href="{{linkedinLink}}">{{linkedinText}}</a>
        </div>
      </div>
      <div id="user-page-blog" ng-show="stringFound(blogLink)">
        <div id="user-page-blog-logo">
          <img src="/img/blog_icon.png" width="18px" />
        </div>
        <div id="user-page-blog-link">
          <a href="{{blogLink}}">{{blogText}}</a>
        </div>
      </div>

      <div id="user-page-location" ng-show="stringFound(location)">
        <div id="user-page-location-logo">
          <i class="fa fa-map-marker"></i>
        </div>
        <div id="user-page-location-name">
          {{location}}
        </div>
      </div>

      <div id="user-page-organization" ng-show="stringFound(organization)">
        <div id="user-page-organization-logo">
          <img src="/img/corporation_logo.png" width="20px" />
        </div>
        <div id="user-page-organization-name">
          {{organization}}
        </div>
      </div>

      <div id="user-page-school" ng-show="stringFound(school)">
        <div id="user-page-school-logo">
          <i class="fa fa-graduation-cap"></i>
        </div>
        <div id="user-page-school-name">
          {{school}}
        </div>
      </div>

    </div>
    <div id="user-page-contact">
      <button type="button" class="btn btn-success btn-rounded btn-outline" data-toggle="modal" data-target="#contactModal">
        Contact {{name}}
      </button>
    </div>
  </div>

  <div ng-show="stringFound(skills)">
    <div id="user-page-projects-header">
    </div>
    <tags-input id="user-page-projects-tags" ng-model="skills" value="{{skills}}" ng-disabled="true"></tags-input>
  </div>

  <div id="user-page-right-col">
    <div id="user-page-projects" class="clearfix">
      
      <!-- project cards -->
      <div id="user-page-projects-header">
    <!--     <h2 style="margin-top:0px; padding-top: 0px;">Projects</h2> -->
      </div>
      <div class="portfolio-1" ng-repeat="projectObject in projectObjects">
        <div class="col-sm-4 portfolio-col" style="padding-bottom: 30px; width: 50%">
          
          <div class="proj-header" style="background-color: white; width: 100%; border-radius: 6px 6px 0 0; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22); display: inline-block;">
            <h4>{{projectObject.projName | uppercase}}<h4>
          </div>

          <a class="portfolio-item" data-toggle="modal" data-target="#project-info" ng-click="passit(projectObject.projName, projectObject.description, projectObject.projUrl, projectObject.githubRepo, projectObject.projectImage, projectObject.date, projectObject.projID, projectObject.teamMembers, loggedInUserID)">

            <div class="portfolio-link">
              <div class="caption">
                <div class="caption-content">
<!--                   <h3 class="ng-binding">{{projectObject.projName}}</h3>
 -->                  <p class="ng-binding">{{projectObject.description}}</p>
                </div>
              </div>
              <img src="{{projectObject.projectImage}}" class="img-centered" alt="" style="position:relative; top:50%; transform: translateY(-50%)">
            </div>
          </a>

          <div style="background-color: white; width: 100%; border-radius: 0 0 6px 6px; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22); padding-right: 15px; display: inline-block;">
            <h5 class="pull-right"> <i class="fa fa-thumbs-o-up" style="color: gray"></i> {{projectObject.count || 0}} </h5>
          </div>

        </div>
      </div>

      <proj-edit-modal obj="projEditObj"></proj-edit-modal>

      

    </div>
  </div>
</div>


<!-- Dev Profile Edit Modal -->
<div ng-controller="UserProfileEditCtrl" id="profile-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-small">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 style="margin-top:5px; margin-bottom:5px;">Edit Profile</h3>
      </div>

      <div class="modal-body">
        <form ng-submit="updateUserProfile(realName, overview, githubLink, linkedinLink, blogLink, location, school, cleanUrl, skills)">
          <ul class="list-unstyled">
            <li>
              <div class="user-profile-label">Name:</div>
              <input class="form-control" ng-model="realName" class="form-control" placeholder="Enter your name here" value="{{realName}}" />
            </li>
            <li>
              <div class="user-profile-label form">Overview:</div>
              <input ng-model="overview" class="form-control" placeholder="Describe yourself" value="{{overview}}" />
            </li>
            <li>
              <div class="user-profile-label">Github Profile URL:</div>
              <input ng-model="githubLink" class="form-control" placeholder="Enter your github profile URL here" value="{{githubLink}}" />
            </li>
            <li>
            
              <div class="user-profile-label form-control">Technical Skills:</div>
              <tags-input id="tags-input" ng-model="skills" class="user-profile-update-input" style="clear:both;" value="{{skills}}">

            </li>
            <li>
              <div class="user-profile-label">LinkedIn URL:</div>
              <input ng-model="linkedinLink" class="form-control" placeholder="Enter your LinkedIn profile URL here" value="{{linkedinLink}}" />
            </li>
            <li>
              <div class="user-profile-label">Personal Blog URL:</div>
              <input ng-model="blogLink" class="form-control" placeholder="Enter your personal blog URL here" value="{{blogLink}}" />
            </li>
            <li>
              <div class="user-profile-label">Location:</div>
              <input ng-model="location" class="form-control" placeholder="Enter your current location here" value="{{location}}" />
            </li>
            <li>
              <div class="user-profile-label">School:</div>
              <input ng-model="school" class="form-control" placeholder="The development school you attended" value="{{school}}" />
            </li>

            <li>
              <div class="user-profile-label">Profile Url:</div>
              http://productsquare.com/user/
              <input ng-model="cleanUrl" class="form-control" value="{{cleanUrl}}" style="width: 176px"/>

            </li>
            <li class="clearfix">
              <div class="user-profile-label">Profile Image:</div>
              <img id="preview" src="{{tempProfileImage}}" style="float:left; margin-right:20px; clear:both;" width="150px"/>

              <input class="form-control" type="file" id="file" name='file' onchange="angular.element(this).scope().updateUserProfileImage(this)" style="float:left; border: 0px" />
              <button type="submit" class="btn btn-danger btn-rounded btn-outline pull-right"> Save Profile </button>
            </li>
          </ul>

          <div class="error" ng-show="errorFound">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Contact User Modal -->
<div class="modal fade" id="contactModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact {{name}}</h4>
      </div>
      <div class="modal-body">
       <form ng-submit="sendEmail(message)">
         <textarea ng-model="message" placeholder="Post your message to Dylan here." style="height:100px; width:500px;"></textarea>
         <input class="btn btn-success btn-rounded btn-outline" type="submit" value="Send"/>
      </form>
      </div>
    </div>
  </div>
</div>
