
<!-- Start Specific Portfolio View - Standard Portfolio Modal - Images and Text -->
<div id="project-info" class="modal large fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-large">
    <div class="modal-content" id="project-modal-content">
      <div class="modal-header" style="margin-left:10px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div ng-hide="edible">
          <button ng-click="editModal()" ng-show="obj.editProj" class="pull-right btn btn-success project-modal-edit" >Edit</button>
          <h3 style="margin-bottom:5px;">{{obj.projName}}</h3>
          <h6>{{obj.date}}</h6>
          <button ng-click="projectLike(obj.projID)" type="button" class="btn btn-default btn-md">Upvote Project</button>
        </div>
        <div ng-show="edible">
          <button ng-click="saveModal(obj.projID, obj.projName, obj.description, obj.githubRepo, obj.projUrl, obj.projectImage, obj.teamMembers, obj.teamMembersRemoved)" class="pull-right btn btn-danger project-modal-edit">Save</button>
          <button ng-click="stopEditModal()" class="pull-right btn btn-danger project-modal-edit">Stop Editing</button>
          <h3>
            <input ng-model="obj.projName" />
          </h3>
        </div>
      </div>
        <div class="modal-body clearfix">
          <div class="col-md-8 project-modal-left-col">
            <div ng-hide="edible">
              <div class="project-modal-image">
                <img ng-src="{{obj.projectImage}}" alt="" />
              </div>
              <div class="project-modal-description">
                {{obj.description}}
              </div>
            </div>
            <div ng-show="edible">
              <p id="status"> Update project image</p>
                <input type="file" id="file" name='file' onchange="angular.element(this).scope().editProjectImage(this)"/>
              <div class="project-modal-image">
                <img ng-src="{{obj.projectImage}}" alt="" />
              </div>
              
              <p style="margin-bottom: 0;">
                <textarea class="form-control" rows="4" cols="38" name="comment" type="text" placeholder="Tell us about your project. What does your project accomplish? What makes it useful or fun?" ng-model="obj.description" style="width:100%"></textarea>
              </p>

            </div>

          </div>
          <div class="col-md-4 project-modal-right-col">
            <div ng-hide="edible">
              <ul class="list-unstyled project-modal-details">
                <li>
                  <h3 style="margin:auto;text-align:center;">Development Team</h3>
                  <ul class="project-modal-team-list">
                    <li ng-repeat="teamMemberObject in obj.teamMemberObjects" class="clearfix">
                      <a onclick="$('#project-info').modal('hide')" href="/#/user/{{teamMemberObject.cleanUrl}}/">
                        <div class="project-modal-team-list-profile-image">
                          <img src="{{teamMemberObject.profileImage}}" alt="" />
                        </div> 
                        <div class="project-modal-class-list-real-name">
                          {{teamMemberObject.realName}}
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="githubLogo">
                  <div style="margin:auto;">
                    <img src="/img/Github-Mark-64px.png" />
                    <a href="{{obj.githubRepo}}">
                      {{obj.githubRepo}}
                    </a>
                  </div>
                </li>
                <li>
                  <div style="margin:auto; margin-left:3px">
                    <i class="fa fa-link fa-2x"></i>
                    <a href="{{obj.projUrl}}" style="margin-top:-5px;">
                      {{obj.projUrl}}
                    </a>
                  </div>  
                </li>
              </ul>

            </div>

            <div ng-show="edible">
              <ul class="list-unstyled project-modal-details">
                <li>
                  <h3 style="margin:auto;text-align:center;">Development Team</h3>
                  <ul class="project-modal-team-list">
                    <li ng-repeat="teamMemberObject in obj.teamMemberObjects" class="clearfix">

                      <div class="project-modal-team-list-profile-image">
                        <img src="{{teamMemberObject.profileImage}}" alt="" />
                      </div> 

                      <div class="project-modal-class-list-real-name">
                        {{teamMemberObject.realName}}
                        <span class="close" ng-click="removeTeamMember($index, obj.teamMembers, obj.teamMemberObjects, obj.teamMembersRemoved);"> x </span>
                      </div>
                    </li>

                  </ul>
                </li>
                <li>
                  <input class="form-control" ng-change="userLookUp(inputUser, obj.teamMembers)" rows="1" cols="50" name="projectTeamMembers" type="text" placeholder="Add new Team Member" ng-model="inputUser" />
                  <ul ng-show="inputUser" class="project-modal-team-list">
                    <li class="filtered-users" ng-click="addTeamMember(value.userId, obj.teamMembers, obj.teamMemberObjects)" ng-repeat="(key, value) in filteredUsers">
                      <div class="project-modal-team-list-profile-image">
                        <img src="{{value.profileImage}}" alt="" />
                      </div> 
                      <div class="project-modal-class-list-real-name">
                        {{value.realName}}
                      </div>
                    </li>
                  </ul>
                </li>

              
                <li>
                  <strong>Github URL: </strong>
                    <input class="form-control" rows="1" cols="50" name="comment" type="text" placeholder="http://github.com/username" ng-model="obj.githubRepo" />
                </li>
                <li ng-show"edible">
                  <strong>Project URL: </strong>
                    <input class="form-control" rows="1" cols="50" name="comment" ng-model="obj.projUrl" type="text" placeholder="http://yourProjectHere.com" />
                </li>
                
              </ul>
            </div>
            
        
            <div ng-show="errorFound" class="error"> {{error}}</div>
          </div>
        </div>
    </div>
  </div>
</div>


<!-- End obj. Portfolio View - Standard Portfolio Modal - Images and Text ends -->

