<nav-bar> </nav-bar>
<div>
<!-- Nav Bar will sit here -->
<div class="mainContainer">
  <h1>This will be the Main Project page</h1>
  <!-- Feature sort and Create a Project -->
  <div class="btn-group" role="group" aria-label="project sorting">
  <button type="button" class="btn btn-default">Most Recent</button>
  <button type="button" class="btn btn-default">Most Liked</button>
  <button type="button" class="btn btn-default">Staff Picks</button>
  </div>

  <div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Submit A Project</button>

  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Submit Your Project</h4>
          </div>
          <div class="modal-body">
            <form ng-submit="projectSubmit(projectDescription, githubUrl, projName)">
              Project Name:<br>
              <input ng-model="projectName" type="text" placeholder="Name your project">
              <br>
              Project Description:<br>
              <input ng-model="projectDescription" type="text" placeholder="Briefly describe your project">
              <br>
              Github Url:<br>
              <input ng-model="githubUrl" type="text" placeholder="Github Url">
              <br><br>
              <button id="submit">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
  </div>

  </div>
  <!-- List View of Projects here -->
  <div class="projectList">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
         <img src="..." alt="...">
          <div class="caption">
          <h3>Project #1</h3>
          <p>Here is a brief summary of the project</p>
          <p><a href="#" class="btn btn-primary" role="button">Modal Click Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
         <img src="..." alt="...">
          <div class="caption">
          <h3>Project #2</h3>
          <p>Here is a brief summary of the project</p>
          <p><a href="#" class="btn btn-primary" role="button">Modal Click Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Project List View Here -->
</div>

<!-- Footer will sit here -->
